* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  background-color: #999999;
  color: #000;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
body {
  background-color: ;
  color: #000;
}
.glyphicon {
  font-size: 30px;
  color: #000;
}

.center {
  width: 90%;
  background-color: grey;
}
.container {
  background-color: grey;
}
.text-center {
  font-size: 30px;
}

h2 {
  text-align: center;
}
#myNavbar ul li a {
  color: #000;
}
.navbar-brand {
  font-size: 30px;
}

.navbar-inverse .navbar-brand {
  color: #000;
}
.navbar-inverse .navbar-brand :hover {
  background-color: #999999;
}
